.box {
    min-height: 50px;
    padding: 5px;
    margin: 5px;
    font-weight: 800;
    color: #fff;
  }
  
  .skyblue {
    background: deepskyblue;
  }
  
  .purple {
    background: rebeccapurple;
  }
  
  .red {
    background: indianred;
  }

body {
  background-color: rgb(233, 227, 227);
}

#main_lat {
   padding: 4vw;
   margin-top: 2vw;
   margin-bottom: 3vw;
   margin-right: 3vw; 
   

}
#main_viz {
  padding: 4vw;
  padding-bottom: 5vw;
  margin-top: 2vw;
  margin-bottom: 10vw; 
  margin-left: 3vw;
}

footer p {
  line-height: 300%;
  text-align: center;
  color: white;
}

footer {
  border-top-style: solid;
  border-top-color: rgb(0, 174, 218);
  background-color: rgb(94, 94, 94);
  padding-top: .5vw;
  padding-bottom: .5vw;
  
}

img {
  padding: 1vw;
}

h2 {
  font: sans-serif;
  margin-bottom: 5vw;
  padding-bottom: 4vw;
  border-bottom: solid;
  border-bottom-color: rgb(235, 235, 235);
}

h3 {
  font: sans-serif;
  margin-bottom: 3vw;
  padding-bottom: 2vw;
  border-bottom: solid;
  border-bottom-color: rgb(235, 235, 235);
}

#main_lat img {
  float: left;
}

p {
  color: rgb(1, 1, 141);
}
