body {
  background-color: rgb(233, 227, 227);
}

#main_col, #viz_col {
   padding: 4vw;
   margin-top: 2vw;
   margin-bottom: 3vw;
   margin-right: 3vw; 
}

#comp_col {
  padding: 4vw;
  margin-top: 2vw;
}

#main_viz {
  padding: 4vw;
  padding-bottom: 5vw;
  margin-top: 2vw;
  margin-bottom: 10vw; 
  margin-left: 3vw;
}

footer p {
  line-height: 300%;
  text-align: center;
  color: white;
}

footer {
  border-top-style: solid;
  border-top-color: rgb(0, 174, 218);
  background-color: rgb(94, 94, 94);
  padding-top: .5vw;
  padding-bottom: .5vw;
  
}

img {
  padding: 1vw;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 5vw;
  padding-bottom: 4vw;
  border-bottom: solid;
  border-bottom-color: rgb(235, 235, 235);
}

#main_viz_h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 3vw;
  padding-bottom: 2vw;
  border-bottom: solid;
  border-bottom-color: rgb(235, 235, 235);
}

#main_col img {
  float: left;
}

p {
  color: rgb(1, 1, 141);
}

#home_page_icon {
  font-size: 20pt;
  background-color: #17a5bb;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: .5vw;
  padding-bottom: .5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-left: 8vw;
}

#comp_h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;

}

#viz_highlighted {
  border: 2px solid #17a5bb
}

#data_header {
  padding: 4vw;
}


@media (max-width: 576px) {
  #home_page_icon {
    font-size: 20pt;
    background-color: #17a5bb;
    color: white;
  }

  #nav_media_q {
    background-color: #17a5bb !important;
  }

  #navbarNavDropdown{
    background: white !important;
  }
} 